
<h1 class="h3 mb-2 text-gray-800">Chức vụ</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách các chức vụ</h4>
    </div>
    <div class="card-body" *ngIf="listRecyclePosition.length>0">
        <div class="table-responsive">
            <div class="specialty-actions">
                <div class="col-lg-5 col-xl-4">
                    Hiện thị
                    <select (change)="handlePageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                    bản ghi
                </div>
                <div class="col-lg-5 col-xl-4">
                    <input type="text" class="form-control" placeholder="Tìm kiếm theo tên chức vụ"
                        [(ngModel)]="search" (input)="handleSearchChange($event)" />
                </div>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên chức vụ</th>
                        <th>Ngày xóa</th>
                        <th>Tạo ngày</th>
                        <th>Cập nhật ngày</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên chức vụ</th>
                        <th>Ngày xóa</th>
                        <th>Tạo ngày</th>
                        <th>Cập nhật ngày</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let recycleposition of listRecyclePosition | paginate: {
                        itemsPerPage: pageSize, currentPage: page, totalItems: total
                    }">
                        <td>{{recycleposition.positionName}}</td>
                        <td>{{recycleposition.deleteDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{recycleposition.createTime | date:'dd/MM/yyyy'}}</td>
                        <td>{{recycleposition.updateTime | date:'dd/MM/yyyy'}}</td>
                        <td>
                            <button mat-raised-button style="background-color:gray; color: white;"
                            (click)="RestorePositionById(recycleposition.id)" >

                              <i class="fa-solid fa-trash-arrow-up"> </i> Restore
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="specialty-pagination">
            <pagination-controls previousLabel="Trang trước" nextLabel="Trang sau" (pageChange)="pageChange($event)"
                class="my-pagination"></pagination-controls>
        </div>
    </div>

    <div class="noti-null" *ngIf="listRecyclePosition.length <=0">
      <p>Không có bản ghi nào.</p>
    </div>
</div>
