.specialty-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  flex-wrap: wrap;
}
.modal-content{
  width: 140%;
}

.specialty-pagination {
  display: flex;
  justify-content: center;
}

.specialty-pagination .ngx-pagination {
  padding: 0 !important;
}

/* View detail appointment */

.booking-success{
  margin-top: 10px;
}
.doctor-infor-head{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.doctor-infor{
  display: flex;
  flex-direction: column;
    align-items: center;
}
.text-center-header{
  font-size: 25px;
}
.doctor-img{
  width: 100px;
  height: 100px;
}
.doctor-booking-content{
  display: flex;

}
.doctor-booking-left{
  width: 50%;
  height: auto;
  border-right: 1px solid #F4F4F4;
}
.doctor-booking-right{
  width: 50%;
  height: auto;
}
.item-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  /* padding-top: 0.75rem; */
  /* padding-bottom: 0.75rem; */
}
.font-medium{
  font-size: 20px;
  padding-bottom: 10px;
}
.modal-footer{
  display: flex;
  justify-content: center !important;
}
.hiddenform {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.btn-view{
  text-decoration: none;
    color: white;
    width: 60px;
    height: 35px;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
