<div mat-dialog-title>
    <h1 style="text-align: center; font-size: 30px;">Xác nhận xóa thông tin bác sĩ này ?</h1>
</div>
<!-- <form [formGroup]="specialtyForm" (ngSubmit)="DeleteSpecialty()">
    <input type="hidden" formaction="isDelete"> -->
<div mat-dialog-actions style="display: flex; justify-content: center;">
    <button type="submit" mat-raised-button color="primary" (click)="DeleteDoctor()">Xác nhận</button>
    <button type="button" mat-raised-button (click)="closeAddDoctor()">Hủy</button>
</div>
<!-- </form> -->