<div mat-dialog-title>
    <h1 style="text-align: center; font-size: 30px;">Đặt lại mật khẩu cho {{username}}</h1>
</div>
<form [formGroup]="adminDoctorForm">
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" style="padding: 10px 0; width: 500px;">
                <mat-label>Mật khẩu</mat-label>
                <input placeholder="Mật khẩu" type="password" formControlName="Password" matInput>
                <mat-error
                    *ngIf="adminDoctorForm.controls['Password'].invalid && adminDoctorForm.controls['Password'].dirty || adminDoctorForm.controls['Password'].touched">
                    <span class="text-danger" *ngIf="adminDoctorForm.controls['Password'].errors?.['required']">*Phải
                        nhập
                        mật khẩu mới
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions style="display: flex; justify-content: center;">
        <button type="submit" mat-raised-button color="primary" (click)="ResetPassword()">Xác nhận</button>
        <button type="button" mat-raised-button (click)="closeResetPassword()">Hủy</button>
    </div>
</form>