<div class="footer">
    <div class="container">
        <div class="row footer_row-padding">
            <div class="col-sm-6 col-md-3 bg-red">
                <h6>
                  CÔNG TY TNHH SUPERHEALTH VIỆT NAM
                </h6>
                <div class="medlife-block">
                        <p>
                          <b>VPĐD:</b> 523 Tô Hiến Thành, P.14, Q.10, TP. HCM<br>

                          <b>Hotline:</b> 1900 1000 (8:30 - 20:30 từ T2 đến T7) <br>

                          Số ĐKKD 0315268642 do Sở Kế hoạch và Đầu tư TP. Hồ Chí Minh cấp lần đầu ngày 14/09/2018.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 bg-red">
              <h6>
                VỀ SUPERHEALTH
              </h6>
              <div class=" " style="display: flex !important; flex-direction: column;">
                <p>Giới thiệu</p>
                <p>Ban điều hành</p>
                <p>Liên hệ</p>

            </div>

          </div>

            <div class="col-sm-6 col-md-3 bg-red">
                <h6>
                    DỊCH VỤ
                </h6>
                <div class="footer_recent-news">
                  <p>
                    <a style="color: #a0b4c7 !important" class=" " href="#">Đặt khám bác sĩ</a>

                  </p>
                  <p>
                    <a style="color: #a0b4c7 !important" class=" " href="#">Tư vấn trực tuyến</a>

                  </p>
                    <!-- <div class=" ">
                        <a href=" ">Ultrasmall nanoparticles kill cancer cells in unusual way</a>
                        <p><i aria-hidden="true" class="fa fa-clock-o"></i> September 30, 2016</p>
                    </div>
                    <div class=" ">
                        <a href=" ">Ultrasmall nanoparticles kill cancer cells in unusual way</a>
                        <p><i aria-hidden="true" class="fa fa-clock-o"></i> September 30, 2016</p>
                    </div> -->
                    <!-- News Block End -->
                </div>
            </div>
            <div class="col-sm-6 col-md-3 bg-red">
                <h6>
                  HỖ TRỢ
                </h6>
                <div class=" ">
                    <p>Điều khoản sử dụng</p>
                    <p>Chính Sách Bảo Mật</p>
                    <p>Chính sách giải quyết khiếu nại</p>
                    <p>Hỗ trợ khách hàng: cskh@superhealth.vn</p>

                </div>
            </div>

        </div>
        <!-- <div class="row text-center">
            <div class="col-sm-3 col-md-12 footer_container_contact_link">
                <p>Các thông tin trên YouMed chỉ dành cho mục đích tham khảo, tra cứu và không thay thế cho việc chẩn đoán hoặc điều trị y khoa.
                  <br>Cần tuyệt đối tuân theo hướng dẫn của Bác sĩ và Nhân viên y tế.

                  <br>Copyright © 2018 - 2023 Công ty TNHH YouMed Việt Nam.</p>


            </div>
        </div> -->
    </div>
</div>
