body{
    font-family: 'Lato', sans-serif;
 
}
.footer{
    background-color: rgb(48,67,86);
    padding-top: 80px;

}
.pages-block .clearfix{
    display: flex;
}
.footer .container .row h6{
    color: white !important;
    margin-bottom: 28px;
}
.footer .container .row p{
    color: #a0b4c7 !important;
    
}
.footer_row-padding{
    padding-bottom: 35px;
    border-bottom: 1px solid rgb(41,88,107);
}
.footer .container .row > :nth-child(1) h6{
 
}
.footer .container .row > :nth-child(2){
 
}
.footer .container .row > :nth-child(2) ul{
    list-style: none;
    padding: 0px;
 
}
.footer .container .row > :nth-child(3){
     
}
.footer .container .row > :nth-child(4){
   
}

.footer .container .row > :nth-child(2) > div{
    display: flex;
 
}
.footer .container .row > :nth-child(2) ul a{
    text-decoration: none;
    color: #a0b4c7;
    font-size: 12px;
}

.footer .container .row > :nth-child(3) > a{
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    text-decoration: none;
}
.footer_recent-news > a{
    font-size: 13px;
    line-height: 13px;
    color: #fff;
    text-decoration: none;
 
}

.footer_recent-news div a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
 
    display: block;
}
.footer_recent-news div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding: 12px 0px;
}

.footer .container .row > :nth-child(4) form input{
   padding: 6px 12px 6px 12px;
   width: 100%;
   margin-bottom: 10px;
}
.footer .container .row > :nth-child(4) form button{
    padding: 6px 12px;
    background-color: rgb(102,204,102);
    color: white;
    width: 50%;
    border-radius:6px ;
    padding: 10px 0px;
 }
 
.footer_container_contact_link ul{
    list-style: none;
    display: flex;
    place-content: center;
}
.footer_container_contact_link ul a{
    width: 36px;
    height: 36px;
    background-color: #a1b5c8;
    margin: 0px 5px;
    align-items: center;
    color: white;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    place-content: center;
}

.footer_container_contact_link{
    font-size: 12px;
    line-height: 12px;
    color: #a0b4c7;
    margin-top:  10px !important  ;
}
 








