<h1 class="h3 mb-2 text-gray-800">Bác sĩ</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Danh sách bác sĩ</h4>
    </div>
    <div class="card-body">
        <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="openAddDoctor()">
            +
            Thêm tài khoản bác sĩ</button>
        <div class="table-responsive">
            <div class="specialty-actions">
                <div class="col-lg-5 col-xl-4">
                    Hiện thị
                    <select (change)="handlePageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                    bản ghi
                </div>
                <div class="col-lg-5 col-xl-4">
                    <input type="text" class="form-control" placeholder="Tìm kiếm theo tên chuyên khoa"
                        [(ngModel)]="search" (input)="handleSearchChange($event)" />
                </div>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <!-- <th>Mã chuyên khoa</th> -->
                        <th>Tên bác sĩ</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Tên tài khoản</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Vị trí</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <!-- <th>Mã chuyên khoa</th> -->
                        <th>Tên bác sĩ</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Tên tài khoản</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Vị trí</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let adminDoctor of adminDoctorList | paginate: {
                        itemsPerPage: pageSize, currentPage: page, totalItems: total
                    }">
                        <td>{{adminDoctor.doctorName}}</td>
                        <td>{{adminDoctor.dateOfBirth != null ? (adminDoctor.dateOfBirth | date:'dd/MM/yyyy') : "--"}}
                        </td>
                        <td>{{adminDoctor.gender == "" ? "--" : adminDoctor.gender}}
                        </td>
                        <td>{{adminDoctor.userName}}</td>
                        <td>{{adminDoctor.phoneNumber}}</td>
                        <td>{{adminDoctor.email}}</td>
                        <td>{{adminDoctor.positionName != null ? adminDoctor.positionName : "--"}}</td>
                        <td>
                            <!-- <button mat-raised-button color="primary" (click)="openResetPassword(adminDoctor)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button> |
                            <button mat-raised-button color="warn" (click)="openDeleteDoctor(adminDoctor)">
                                <i class="fa-solid fa-trash"></i>
                            </button> | -->
                            <button mat-raised-button color="primary" (click)="openViewDoctor(adminDoctor)">
                                <i class="fa-solid fa-eye"></i>
                            </button> |
                            <button mat-raised-button color="primary" (click)="openEditDoctor(adminDoctor)">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="specialty-pagination">
            <pagination-controls previousLabel="Trang trước" nextLabel="Trang sau" (pageChange)="pageChange($event)"
                class="my-pagination"></pagination-controls>
        </div>
    </div>
</div>