<div mat-dialog-title>
  <h1>Xác nhận khôi phục chức vụ này ?</h1>
</div>
<!-- <form [formGroup]="specialtyForm" (ngSubmit)="DeleteSpecialty()">
  <input type="hidden" formaction="isDelete"> -->
<div mat-dialog-actions style="display: flex; justify-content: center;">
  <button type="submit" mat-raised-button color="primary" (click)=" RestorePosition()">Xác nhận</button>
  <!-- (click)=" RestorePosition()" -->
  <button type="button" mat-raised-button (click)="closeRestorePosition()">Hủy</button>
  <!-- (click)="closeRestorePosition()" -->
</div>
<!-- </form> -->
